* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #e21398;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {

    .op{
        color: white    ;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    #inputbuscar{
        display: none;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }

    .productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

footer {
    background-color: palevioletred;
}

.fot1 {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.tema {
    align-items: center;
}

#bajo {
    display: flex;
    justify-content: center;
}

.productos{
    display: flex;
    justify-content: space-around;
}

.op{
    cursor: pointer;
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.op:hover{
    background-color: palevioletred;
    box-shadow: 15px 15px 50px grey,
                -15px -15px -50px white;
}

input[type=radio]{
    display: none;
}

#inputbuscar{
    display: none;
}

#buscar:checked ~ #inputbuscar{
    display: block;
}
